---
title: "Meine Angebote"

layout: page_slideshow

permalink: /angebot

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)


image-text-row:
  - excerpt: "Ich biete Privatstunden, oder Unterricht in Kleingruppen von 2 - 4 Personen an.<br><br>
Entweder bei Dir zu Hause, in einem Studio, oder als Online-Session."
    image-url: "/assets/images/services.webp"
    alt-text: "Astrid in einer Kursstunde"
    image-width: "400px"
    image-right: true


round-images:
  - image-path: "/assets/images/one.webp"
    size: "third"
    header: "<a href='/angebot/vinyasa-yoga'>Vinyasa Yoga</a>"
  - image-path: "/assets/images/two.webp"
    size: "third"
    header: "<a href='/angebot/yin-yoga'>Yin Yoga</a>"
  - image-path: "/assets/images/three.webp"
    size: "third"
    header: "<a href='/angebot/yoga-fuer-sportler'>Yoga für Sportler</a>"
  - image-path: "/assets/images/four.webp"
    size: "third"
    header: "<a href='/angebot/business-yoga'>Business Yoga</a>"
  - image-path: "/assets/images/five.webp"
    size: "third"
    header: "<a href='/angebot/vollmondmeditation'>Vollmond-Meditation</a>"
  - image-path: "/assets/images/six.webp"
    size: "third"
    header: "<a href='/angebot/pilates'>Pilates</a>"
---

{% include image-text-row %}

<hr class="hr-box">
Mein Angebot richtet sich an Interessierte aller Altersklassen – mit und ohne Vorerfahrung <br><br>
Ganz gleich, welche Kenntnisse und Voraussetzungen Du mitbringst – Fühl Dich herzlich willkommen!<i class="fas fa-heart"></i>
<hr class="hr-box">
<br>


{% include round-images %}


