---
title: "Meine Angebote"

layout: page_slideshow

permalink: /angebot

header:
    overlay_image: /assets/images/header.webp
    overlay_filter: rgba(0, 0, 0, 0.6)


image-text-row:
  - excerpt: "Ich biete Privatstunden und Unterricht in Gruppen ab 3 Personen an.<br><br>
Entweder bei Dir zu Hause, in einem Studio oder als Online-Session."
    image-url: "/assets/images/services.webp"
    alt-text: "Astrid in einer Kursstunde"
    image-width: "400px"
    image-right: true


round-images:
  - image-path: "/assets/images/yinyasa-yoga.webp"
    size: "third"
    header: "<a href='/angebot/vinyasa-yoga' target='_blank' rel='noopener noreferrer nofollow'>Vinyasa Yoga</a>"
  - image-path: "/assets/images/yin-yoga.webp"
    size: "third"
    header: "<a href='/angebot/yin-yoga' target='_blank' rel='noopener noreferrer nofollow'>Yin Yoga</a>"
  - image-path: "/assets/images/yoga-fuer-sportler.webp"
    size: "third"
    header: "<a href='/angebot/yoga-fuer-sportler' target='_blank' rel='noopener noreferrer nofollow'>Yoga für Sportler</a>"
  - image-path: "/assets/images/business-yoga.webp"
    size: "third"
    header: "<a href='/angebot/business-yoga' target='_blank' rel='noopener noreferrer nofollow'>Business Yoga</a>"
  - image-path: "/assets/images/vollmondmeditation.webp"
    size: "third"
    header: "<a href='/angebot/vollmondmeditation' target='_blank' rel='noopener noreferrer nofollow'>Vollmond-Meditation</a>"
  - image-path: "/assets/images/pilates.webp"
    size: "third"
    header: "<a href='/angebot/pilates' target='_blank' rel='noopener noreferrer nofollow'>Pilates</a>"
---


{% include image-text-row %}

<hr class="hr-box">

<div class="swirl-background-container">
    <div class="swirl-background"></div>
    <div class="swirl-text">

        Mein Angebot richtet sich an Interessierte aller Altersklassen – mit und ohne Vorerfahrung <br><br>
        Ganz gleich, welche Kenntnisse und Voraussetzungen Du mitbringst – Fühl Dich herzlich willkommen!<i class="fas fa-heart"></i>

    </div>
</div>

<hr class="hr-box">
<br>


{% include round-images %}


