.berry {
    color: #b7337a;
}

a.active {
    color: #b7337a !important;
}

.hero-height {
    height: 70vh !important;
}

@media (max-width: 1100px) {
    .hero-height {
        height: 60vh !important;
    }
}

@media (max-width: 768px) {
    .hero-height {
        height: 50vh !important;
    }
}
